nav { 
    margin: 0 auto; 
    width: 50%;
}
/*
nav ul {
    display: flex; 
}
*/
nav ul {
    list-style-type: none;
    /*
    margin: 0;
    padding: 0;
    width: 350px;
    */
    background-color: #f1f1f1;
    border: 10px solid #555;
  }
  
nav ul li {
    display: inline-block;
}
  li a {
    display: block;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
  }
  
  li {
    text-align: center;
    border-bottom: 1px solid #555;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }




.row img{
    width:60%;
    
}

.row{
    display: flex;
    padding-left:10%;
    padding-right: 10%;
}
.col{
    flex:50%;
    
    text-align: center;
    color: white;
}

.mainrow h2{
    text-align: center;
}
h1{
    text-align:center;
}
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 150px;
  }

  img{
      border:2px solid black;
      margin:10px;
  }

.center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    
  }

body {
    background-color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.airjaws {
    color: black;
}

.breach {
    color: black;
}
.diverse 
    color: black;
}
        

